.header {
    text-align: center;
    font-size: 16px;
    margin: 1px 1px;
    padding: 3px;
    background-color: #000;
    color: #fff;
}

.container {
    text-align: center;
    margin: auto;
}

textarea {
    width: 100%;
    margin: 3px;
    padding: 0.4em;
    font-size: 16px;
    resize: none;
}
#otayori_adjusted{
  font-family: "ＭＳ ゴシック",sans-serif;
  color: #000;
  font-size: 20px;
  line-height:1em;
}
button {
    margin: auto;
}
label {
    font-weight: normal;
}
input[type=checkbox] + label {
    cursor: pointer;
}