.header {
    text-align: center;
    font-size: 16px;
    margin: 1px 1px;
    padding: 3px;
    background-color: #000;
    color: #fff;
}

.container {
    text-align: center;
    margin: auto;
}

.abstract {
    margin: 5px auto auto 1px;
    padding: 2px;
    text-align: left;
    border: solid 1px #ccc;
}

textarea {
    width: 100%;
    margin: 3px;
    padding: 3px;
    font-size: 100%;
    font-size: 16px;
    resize: vertical;
}

button {
    margin: auto;
}